<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : t("berkub.title") %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <nav>
    <ul class="navigation">
      <li class="logo"><%= link_to_unless_current image_tag("logo_large.png"), root_path %></li>
    </ul>
  </nav>
</header>

<div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>
</div>

</body>
</html>
